* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*debug*/

.debug .header_cont {
    
}



.debug .box {
    border: 1px solid black;
}

.debug .flex-cont_main {
    background-color: blue;
}

.debug .card {
    background-color: azure;
}

.debug .image {
    background-color: aqua;

}

.debug .text {
    background-color: brown;
}

.debug .flex-cont_footer {
    background-color: aquamarine;
    height: 50px;
}

/*css*/

header {
    background-color: orange;
    height: 50px;
    padding: 5px;
}

.header_cont {
    display: flex;
    height: 40px;
}

.cont {
    width: 70%;
    margin: auto;
}

.menu {
    width: 30%;
    text-align: left;
    list-style-type: none;
    line-height: 100%;
    padding: 10px;
}

.menu li{
    display: inline-block;
    margin: 0 5px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 40%;
    padding: 10px;
    text-align: center;
}

.logo img {
    height: 80%;
}

.icons {
    width: 30%;
    padding: 10px;
    text-align: right;
    color: white;
}





.flex-cont_main {
    display: flex;
    flex-wrap: wrap;

    margin: 30px auto;
}

.card {
    width: calc(100% / 3);
    padding: 20px;
}

.image {
    height: 300px;
}

.image img {
    width: 100%;
    
    object-fit: contain;
}

.img1 {
    display: block;
}
.img2 {
    display: none;
}

.text {
    height: 100px;
}







footer {
    height: 100px;
    background-color: darkslategray;
    padding: 20px 0;
}

.flex-cont_footer {
    display: flex;
    justify-content: space-between;
}

